# Build results
build/

# STM32CubeIDE
Debug/
Release/

# Visual Studio Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log
*.bak
*~

# Object and dependency files
*.o
*.d

# Generated binaries
*.bin
*.hex
*.elf
*.map
# Unused CMSIS libraries
Drivers/CMSIS/DSP/
Drivers/CMSIS/NN/
Drivers/CMSIS/RTOS/
Drivers/CMSIS/RTOS2/
Drivers/CMSIS/Documentation/